<h1 id="tableLabel">Cars avaliable to purchase </h1>


<p *ngIf="!DealerInventory?.length"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="DealerInventory.length">
  <thead>
    <tr>
      <th>Price</th>
      <th>Make</th>
      <th>Model</th>
        
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let DealerInventory of DealerInventory">
      <td>{{ DealerInventory.Price }}</td>
     <td>{{ DealerInventory.Make }}</td>
      <td>{{ DealerInventory.Model }}</td>
      
      
    </tr>
  </tbody>
</table>